.about {
  padding-bottom: 46px;

  .back {
    @include media-breakpoint-up(lg) {
      margin: 43px 0 33px;
      font-size: 18px;

      span {
        padding-left: 24px;
        padding-top: 2px;
      }
    }
  }

  .company-img {
    width: 296px;
    height: 160px;
    background-color: $basic-grey;
    margin: 40px auto 20px;

    @include media-breakpoint-up(lg) {
      width: 245px;
      height: 120px;
      margin: 18px auto 15px;
    }
  }

  .card-title {
    font-family: "SF UI Display", "Helvetica", sans-serif;
    color: $basic-dark-2;
    padding-bottom: 10px;
  }

  .card-list {
    font-family: "SF UI Display", "Helvetica", sans-serif;
    color: $basic-dark-2;
  }

  .card-custom {

    @include media-breakpoint-up(lg) {
      width: 285px;
      min-height: 600px;
      margin-right: 18px;
    }
  }

  .tab-content {
    max-width: 895px;
    padding: 0 12px;

    @include media-breakpoint-up(lg) {
      padding: 55px 39px 55px 40px;
    }
  }

  .tab-content .card-text {
    @include font(0.87rem, 1.25rem, 400);
  }

  .card-list {
    a, address, span {
      @include font(0.87rem, 1.25rem, 400);
    }
  }

  .info-reviews {
    margin-top: 40px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  .info-reviews-author {
    margin-bottom: 18px;
  }

  .accordion-dropdown .accordion-button::after {
    width: 18px;
    height: 10px;
  }

  .button-text {
    @include font(1.13rem, 1.3rem, 400);
  }

  .nav-tabs .nav-link {
    border-radius: 0;
  }

  .tab-item:last-child .nav-link {
    border-top-right-radius: 5px;
  }

  .tab-item:first-child .nav-link {
    border-top-left-radius: 5px;
  }


}
