.catalog-filters {
  font-family: "SF UI Display", "Helvetica", sans-serif;

  .accordion-button {
    margin-bottom: 33px;
  }

  .form-select,
  .form-control {
    @include font(0.87rem, 1rem, 400);
    border-radius: 16px;
    height: 32px;
    width: 296px;

    @include media-breakpoint-up(md) {
      width: 245px;
    }
  }

  .form-select {
    @include media-breakpoint-up(xl) {
      background-position-x: calc(100% - 16px);
    }
  }

  .form-label {
    @include font(0.87rem, 1rem, 400);
    margin-bottom: 14px;

    @include media-breakpoint-up(lg) {
      @include font(1.13rem, 1.3rem, 400);
    }
  }

  .form-item {
    padding-bottom: 18px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 26px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 20px;
  }

  @include media-breakpoint-up(xxl) {
    margin-left: 20px;
  }
}

.catalog,
.catalog-content,
.catalog-similar {
  font-family: "SF UI Display", "Helvetica", sans-serif;
  max-width: 895px;

  .button-text {
    @include font(0.87rem, 1.06rem, 400);

    @include media-breakpoint-up(md) {
      @include font(1.13rem, 1.3rem, 400);
      margin-right: 15px;
    }
  }

  .card-preview {
    padding: 20px 30px 17px;

    .card-img-box {
      width: 160px;
      height: 70px;
      background-color: $basic-grey;
      margin-bottom: 10px;
    }

    .title {
      margin-bottom: 10px;
    }
  }

  .card-text {
    @include font(0.87rem, 1rem, 400);
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 15px;
    }
  }

  .catalog-item {
    @include media-breakpoint-up(xl) {
      width: 285px;
    }
  }
}

.catalog-partner {

  .back {
    @include media-breakpoint-up(lg) {
      margin: 40px 0 33px;
      font-size: 18px;

      span {
        @include font(1.13rem, 1.3rem, 400);
        padding-left: 24px;
        padding-top: 2px;
      }
    }
  }

  .card-title {
    @include media-breakpoint-up(lg) {
      padding-bottom: 10px;
    }
  }

  .tab-content {
    @include media-breakpoint-up(lg) {
      padding: 62px 40px;
      min-height: 561px;
    }
  }

  .card-discount-box {
    padding-right: 20px;

    @include media-breakpoint-up(lg) {
      padding-right: 60px;
    }
  }

  .tab-content-title {
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 22px;
    }
  }

  .nav-tabs .nav-link {
    border-radius: 0;
  }

  .tab-item:last-child .nav-link {
    border-top-right-radius: 5px;
  }

  .tab-item:first-child .nav-link {
    border-top-left-radius: 5px;
  }

  .discount-list {
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 60px;
    }
  }

  .card-custom {
    @include media-breakpoint-up(lg) {
      min-height: 600px;
    }
  }

  .accordion-dropdown .accordion-button::after {
    width: 18px;
    height: 10px;
  }

  .button-text {
    @include font(1.13rem, 1.3rem, 400);
  }

  .coupon {
    padding-bottom: 32px;
    max-width: 480px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 60px;
    }

    .coupon-info {
      height: 160px;

      @include media-breakpoint-up(lg) {
        height: 190px;
      }
    }

    .coupon-code,
    .coupon-button {
      width: 216px;
      height: 30px;

      @include media-breakpoint-up(lg) {
        width: 132px;
      }
    }

    .coupon-title {
      @include font(1.5rem, 1.75rem, 400);
    }
  }

  .reviews {
    margin-top: 0;

    .reviews-author {
      @include media-breakpoint-up(lg) {
        margin-bottom: 15px;
      }
    }

    .card-text {
      margin-bottom: 3
      0px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
      }
    }
  }
}

.catalog-pagination {
  font-family: "SF UI Display", "Helvetica", sans-serif;

  .page-link {
    padding: 6px 9px;
  }

  .page-item.arrow {
    .page-link {
      padding: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 22px;
  }
}



.catalog-similar {
  max-width: 100%;

  .card-img {
    margin-bottom: 10px;
  }
}

.catalog {
  .card-preview {
    margin: 0 auto 20px;
  }

  @include media-breakpoint-up(md) {
    width: 65%;
  }

  @include media-breakpoint-up(lg) {
    width: 66%;
  }

  @include media-breakpoint-up(xl) {
    width: 75%;
    margin: 0;
  }
}
