.features-section {
  margin-bottom: 60px;

  .features-title {
    @include font(1.13rem, 1.37rem, 400);
    padding-bottom: 25px;
    margin: 0;

    @include media-breakpoint-up(sm) {
      @include font(2.8rem, 3.37rem, 400);
      padding-bottom: 80px;
    }

    @include media-breakpoint-up(lg) {
      @include font(4.5rem, 5.37rem, 400);
    }
  }

  &:last-child {
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 auto;
    margin-bottom: 140px;
    max-width: 1200px;

    &:last-child {
      margin-bottom: 230px;
    }
  }
}
