.features-section {
  margin-bottom: 60px;

  .features-title {
    @include font(1.13rem, 1.37rem, 400);
    padding-bottom: 25px;
    margin: 0;

    @include media-breakpoint-up(sm) {
      @include font(2.8rem, 3.37rem, 400);
      padding-bottom: 80px;
    }

    @include media-breakpoint-up(lg) {
      @include font(4.5rem, 5.37rem, 400);
    }
  }

  &:last-child {
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 auto;
    margin-bottom: 140px;
    max-width: 1200px;

    &:last-child {
      margin-bottom: 230px;
    }
  }
}

.personnel {
  width: 100vw;
  overflow: hidden;
  margin-right: 0;


  .personnel-list {
    position: relative;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-breakpoint-up(sm) {
      left: 0;
      max-width: 756px;
    }

    @include media-breakpoint-up(lg) {
      left: 0;
      max-width: 756px;
    }
  }
}

.personnel-item {
  padding-right: 20px;
}

.personnel-img {
  background-color: $basic-grey;
  min-width: 200px;
  min-height: 260px;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    min-width: 285px;
    min-height: 380px;
    margin-bottom: 35px;
  }
}

.personnel-name {
  @include font(1.13rem, 1.25rem, 400);
  padding-bottom: 5px;
  margin: 0;

  @include media-breakpoint-up(md) {
    @include font(1.3rem, 1.54rem, 400);
  }

  @include media-breakpoint-up(lg) {
    @include font(1.5rem, 1.75rem, 400);
  }
}

.personnel-duty {
  @include font(0.87rem, 1.1rem, 400);
  margin: 0;

  @include media-breakpoint-up(md) {
    @include font(1rem, 1.2rem, 400);
  }

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.25rem, 400);
  }
}

.indicators-list {
  @include media-breakpoint-up(lg) {
    max-width: 600px;
    margin-right: 120px;
  }
}

.indicators-item {
  padding-bottom: 41px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 85px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.indicators-key {
  @include font(3rem, 3.56rem, 400);
  padding-bottom: 10px;
}

.indicators-value {
  @include font(1.88rem, 2.25rem, 400);
}
