.finance-setup {
  .form-control {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  .form-control {
    @include media-breakpoint-up(lg) {
      margin-left: 10px;
    }
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }
}
