.finance-setup {

  .form-label {
    @include font(0.87rem, 1.01rem, 400);
  }

  .form-control {
    padding: 5px 12px 6px;
    @include media-breakpoint-up(lg) {
      width: 200px;
      margin-left: 10px;
    }
  }

  .form-item {
    @include media-breakpoint-up(lg) {
      width: 576px;
      padding-bottom: 20px;
    }
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 576px;
    margin-right: 230px;
    margin-left: auto;
  }
}
