.indicators-list {
  @include media-breakpoint-up(lg) {
    max-width: 600px;
    margin-right: 120px;
  }
}

.indicators-item {
  padding-bottom: 41px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 85px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.indicators-key {
  @include font(3rem, 3.56rem, 400);
  padding-bottom: 10px;
}

.indicators-value {
  @include font(1.88rem, 2.25rem, 400);
}
