.links-setup {
  @include font(1.13rem, 1.3rem, 400);

  .form-item {
    max-width: 325px;

    @include media-breakpoint-up(lg) {
      max-width: 471px;
    }
  }

  .form-control {
    width: 100%;
    margin: 0 auto;
    max-width: 325px;

    @include media-breakpoint-up(lg) {
      margin: 0 0 0 10px;
    }
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }
}
