#my-discounts,
#my-cashback,
#my-coupons {

  .table-container {
    width: 895px;
  }

  .table.table-custom {
    width:895px;
  }

  td {
    width: 220px;
  }

  .output {
    @include font(1.13rem, 1.3rem, 400);
    border: 1px solid $basic-grey;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      height: 60px;
      margin-bottom: 0;
      width: 100%;
    }
  }
}
