.news {
  font-family: "SF UI Display", "Helvetica", sans-serif;
  margin-top: 40px;
  margin-bottom: 59px;


  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }

  .news-content {

    @include media-breakpoint-up(lg) {
      width: 594px;
    }
  }

  .news-item {
    &:not(:first-child) {
      margin-top: 39px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 60px;
      max-width: 1200px;

      &:not(:first-child) {
        margin-top: 31px;
      }
    }
  }

  .news-item {
    @include media-breakpoint-up(lg) {
      padding-bottom: 60px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: calc(100% + 100px);
        height: 1px;
        background-color: $basic-grey;
        bottom: 0;
      }

      &:nth-child(2)::before{
        width: 0;
      }

    }
  }
}

.news-title {
  @include font(1.13rem, 1.3rem, 400);
  color:  $basic-dark-2;
  margin: 0;
  padding-bottom: 15px;

  @include media-breakpoint-up(md) {
    @include font(1.3rem, 1.5rem, 400);
    margin-left: auto;
  }

  @include media-breakpoint-up(lg) {
    @include font(1.5rem, 1.8rem, 400);
    padding-bottom: 28px;
  }
}

.news-link {
  @include font(0.87rem, 1.06rem, 400);
  color:  $basic-dark-2;
  text-decoration: none;

  span {
    margin-right: 12px;
  }

  .news-link-arrow {
    margin-right: 6px;
    height: 14px;

  }

  @include media-breakpoint-up(md) {
    @include font(1rem, 1.2rem, 400);
  }

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.3rem, 400);
    margin-right: 87px;


    span {
      margin-right: 20px;
    }

    .news-link-arrow {
      height: 22px;
      width: 12px;
    }
  }
}

.news-time {
  @include font(0.87rem, 1.06rem, 400);

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.3rem, 400);
  }
}

.news-img {
  width: 296px;
  height: 160px;
  background-color: $basic-grey;
  margin: 0 auto 15px;

  @include media-breakpoint-up(md) {
    width: 367px;
    height: 205px;
    margin: 0 0 30px;
  }

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.5rem, 400);
    width: 438px;
    height: 250px;
    margin-bottom: 0;
  }
}

.news-text {
  margin: 0;

  @include media-breakpoint-up(md) {
    padding-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.6rem, 400);

    padding-bottom: 96px;
  }
}

.news-link-more {
  margin-right: 0;
}
