.page-footer {
  background-color: $basic-dark;
  padding: 30px 0;

  @include media-breakpoint-up(lg) {
    padding: 73px 0;
  }
}

.page-footer-nav {
  @include media-breakpoint-up(lg) {
    padding-right: 153px;
  }
}

.page-footer-link {
  @include font(1.13rem, 21px, 400);
  color: $basic-light;
  padding: 10px 0;

  @include media-breakpoint-up(lg) {
    padding: 15px 0;
  }
}
