.partner-profile,
.my-profile,
.sign-up-user,
.sign-up-partner {
  @include font(1.13rem, 1.3rem, 400);

  .tab-pane {
    margin: 0 auto;
  }

  .form-control {
    width: 296px;

    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-left: 10px;
    }
  }

  .form-textarea {
    max-width: 590px;
    height: 120px;

    @include media-breakpoint-up(lg) {
      height: 240px;
    }
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  .button-finish {
    @include media-breakpoint-up(lg) {
      width: 300px;
    }
  }

  .button-box {
    @include media-breakpoint-up(lg) {
      max-width: 325px;
    }
  }

  .button-box-check {
    max-width: 226px;

    @include media-breakpoint-up(lg) {
      max-width: 302px;
    }
  }

  .form-time {
    width: 70px;
  }

  .lunch-break {
    max-width: 374px;
  }

  #responsible .form-upload,
  #about-us .form-upload {
    margin: 0;

    .form-label {
      @include media-breakpoint-up(lg) {
        margin-top: 120px;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 285px;
      height: 285px;
      margin-right: 40px;
      margin-left: 10px;
    }
  }

  .form-date-group {
    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-left: 10px;
    }
  }

  .note {
    max-width: 325px;
  }

  .features-list {
    color: $special-grey-3;
  }
}

.sign-up-user {
  @include font(0.87rem, 1.18rem, 400);

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.3rem, 400);
  }
}
