.partner-profile,
.my-profile,
.sign-up-user,
.sign-up-partner {
  @include font(1.13rem, 1.3rem, 400);

  .form-label {
    margin-bottom: 10px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  .form-label-checkbox {
    @include media-breakpoint-up(lg) {
      margin-right: 40px;
    }
  }

  .form-item {
    padding-bottom: 20px;
  }

  #schedule .form-item {
    padding-bottom: 16px;
  }

  .tab-pane {
    margin: 0 auto;
  }

  .menu-accordion {
    margin-bottom: 10px;
  }

  .tab-header-border {
    margin-bottom: 24px;
  }

  .form-control {
    width: 296px;

    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-left: 10px;
    }
  }

  #schedule .form-control {
    margin-left: 10px;
  }

  .form-textarea {
    max-width: 590px;
    height: 120px;

    @include media-breakpoint-up(lg) {
      height: 240px;
    }
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  .button-finish {
    @include media-breakpoint-up(lg) {
      width: 300px;
    }
  }

  .button-box {
    @include media-breakpoint-up(lg) {
      max-width: 325px;
    }
  }

  .button-box-check {
    max-width: 226px;

    @include media-breakpoint-up(lg) {
      max-width: 302px;
    }
  }

  .form-time {
    width: 70px;
  }

  .lunch-break {
    max-width: 374px;
    margin-bottom: 30px;

    .form-label-radio {
      @include font(0.875rem, 1.04rem, 400);
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 42px;
    }
  }

  #responsible .form-upload,
  #about-us .form-upload {

    height: 296px;
    margin-bottom: 0;

    .form-label {
      margin-right: 20px;
      margin-left: 0;
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      width: 285px;
      height: 285px;
      margin-right: 40px;
      margin-left: 10px;
      margin-top: 0;
    }
  }

  .form-date-group {
    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-left: 10px;
    }
  }

  .note {
    max-width: 325px;
  }

  .features-list {
    color: $special-grey-3;
  }

  .tab-pane#contacts {
    @include media-breakpoint-up(xl) {
      width: 480px;
      margin: 0 58px 0 92px;
    }
  }

  .tab-pane#schedule {
    margin-top: 11px;

    @include media-breakpoint-up(xl) {
      width: 374px;
    }
  }

  #safety .button-box,
  #responsible .button-box {
    @include media-breakpoint-up(xl) {
      max-width: 325px;
    }
  }

  .menu {
    @include media-breakpoint-up(xl) {
      width: 285px;
    }
  }
}

.sign-up-user {
  @include font(0.87rem, 1.18rem, 400);

  @include media-breakpoint-up(lg) {
    @include font(1.13rem, 1.3rem, 400);
  }
}

.my-profile {
  .button-box {
    max-width: 325px;
  }
}

#schedule {
  .button-box {
    @include media-breakpoint-up(lg) {
      max-width: 325px;
    }
  }
}
