.registration-form {
  .form-label-radio.form-label {
    @include font(0.87rem, 1.04rem, 400);
    padding-top: 120px;
    padding-left: 0;
    width: 100px;
    text-align: center;
  }

  .form-label {
    @include font(1.13rem, 1.3rem, 400);
  }

  .form-label-radio::before {
    width: 100px;
    height: 100px;
    border-color: $basic-grey;
    top: 0;
    left: calc(50% - 50px);
  }

  .btn-check:checked + .form-label-radio::after {
    width: 0;
  }

  .btn-check:checked + .form-label-radio::before {
    border-color: $light-green;
  }
}

.sign-in {
  @include media-breakpoint-up(md) {
    .form-item {
      width: 285px;
      margin: 0;
    }
  }
}

.sign-in-menu {
  .tab-header-border {
    @include media-breakpoint-up(md) {
      &.tab-header {
        width: 285px;
        margin: 0;
        padding: 40px 0;
        border: 1px solid $basic-grey;
      }
    }

    @include media-breakpoint-up(lg) {
      .tab-item-large {
        border-right: 1px solid $basic-grey;
      }
    }
  }
}

.sign-up-user {
  .form-select {
    @include font(1.13rem, 1.3rem, 400);
  }

  .tab-pane#about-me {
    .form-label, p {
      @include font(1.13rem, 1.3rem, 400);
    }
  }

  .tab-pane#contacts {
    .form-label {
      @include font(1.13rem, 1.3rem, 400);
    }

    @include media-breakpoint-up(lg) {
      width: 480px;
      margin: 0 auto;
    }
  }

  .tab-pane#safety {
    .form-label {
      @include font(1.13rem, 1.3rem, 400);
    }
  }

  .tab-pane#loyalty-card {
    .form-control::placeholder {
      color: transparent;
    }

    .form-label {
      @include font(1.13rem, 1.3rem, 400);
    }

    @include media-breakpoint-up(lg) {
      margin-right: 55px;
      margin-left: auto;

      .form-control::placeholder {
        color: $basic-dark-2;
        @include font(1.13rem, 1.3rem, 400);
      }
    }
  }

  .tab-pane#client-agreement {

    .features-list {
      padding-left: 20px;
    }

    .form-label {
      @include font(1.13rem, 1.3rem, 400);
    }

    .form-label-radio.form-label {
      @include font(0.87rem, 1.04rem, 400);
    }

    @include media-breakpoint-up(lg) {
      margin-right: 55px;
      margin-left: auto;

      .features-list {
        padding-left: 48px;
        line-height: 1.225rem;
      }

      .form-control {
        @include font(0.87rem, 1rem, 400);
        width: 300px;
        padding: 5px 0;
        height: 24px;
      }

      .form-label {
        @include font(0.87rem, 1.04rem, 400);
      }

      .form-label-radio.form-label {
        @include font(1.13rem, 1.3rem, 400);
      }

      p {
        padding-left: 34px;
      }

      .form-label-radio::before {
        top: 1px;
      }

      .btn-check:checked+.form-label-radio::after {
        top: 5px;
      }
    }
  }
}

.sign-up-partner {
  .form-textarea {
    @include media-breakpoint-up(lg) {
      height: 64px;
    }
  }

  .tab-pane#about-us {
    .form-upload {
      .form-label {

        margin-top: 115px;
        margin-left: 60px;

      }
    }
  }

  .tab-pane#schedule {
    .button-box {
      @include media-breakpoint-up(lg) {
        max-width: 302px;
      }
    }
  }

  .tab-pane#client-agreement {
    .form-label.form-label-radio {
      @include font(0.87rem, 1.04rem, 400);
      @include media-breakpoint-up(lg) {
        @include font(1.13rem, 1.3rem, 400);
      }
    }
  }
}
