.texts-setup {
  @include font(1.13rem, 1.3rem, 400);

  .form-textarea {
    min-height: 160px;
  }

  @include media-breakpoint-up(lg) {
    .form-textarea {
      min-height: 150px;
      width: 895px;
    }

    .form-item {
      margin: 0;
    }
  }
}
