.website-setup {
  @include font(1.13rem, 1.3rem, 400);

  .form-upload {
    height: 296px;
    margin-top: 10px;

    .form-label {
      margin-top: 127px;
    }

    @include media-breakpoint-up(lg) {
      width: 325px;
      height: 325px;
      margin: 0 0 20px;
    }
  }

  .form-textarea {
    min-height: 160px;
  }

  .form-item {
    width: auto;

  }

  .form-control {
    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-left: 5px;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 520px;
  }

  .button-box {
    @include media-breakpoint-up(lg) {
      width: 325px;
    }
  }
}
