.website-setup {
  @include font(1.13rem, 1.3rem, 400);
  padding-top: 33px;

  .form-upload {
    height: 296px;
    margin-top: 10px;

    .form-label {
      margin-top: 130px;
      margin-left: 75px;

      @include media-breakpoint-up(lg) {
        margin-top: 135px;
        margin-left: 75px;
      }
    }

    @include media-breakpoint-up(sm) {
      width: 325px;
      height: 325px;
      margin: 0 0 20px;
    }

    @include media-breakpoint-up(lg) {
      width: 325px;
      height: 325px;
      margin: 0 0 20px;
    }
  }

  .form-textarea {
    min-height: 160px;

    @include media-breakpoint-up(lg) {
      min-height: 100px;
    }
  }

  .form-item {
    padding-bottom: 20px;
  }

  .form-control {
    max-width: 325px;
    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-left: 9px;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 520px;
    margin-right: 265px;
    margin-left: auto;
    padding-top: 0;
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  .button-box {
    @include media-breakpoint-up(lg) {
      width: 325px;
    }
  }

  .accordion-features .accordion-header {
    border: none;
  }

  .accordion-features .accordion-item:last-child::before {
    width: 0;
  }
}

.links-setup {
  @include font(1.13rem, 1.3rem, 400);

  .form-item {
    max-width: 325px;

    @include media-breakpoint-up(lg) {
      width: 475px;
      max-width: 475px;
    }
  }

  .form-control {
    width: 100%;
    margin: 0 auto;
    max-width: 325px;

    @include media-breakpoint-up(lg) {
      margin: 0 0 0 10px;
    }
  }

  .button {
    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }
}

.texts-setup {
  @include font(1.13rem, 1.3rem, 400);

  .form-label {
    @include font(1.13rem, 1.3rem, 400);

    @include media-breakpoint-up(lg) {
      @include font(1.5rem, 1.75rem, 400);
    }
  }

  .form-textarea {
    min-height: 160px;
  }

  @include media-breakpoint-up(lg) {
    .form-textarea {
      min-height: 150px;
      max-width: 895px;
    }

    .form-item {
      margin: 0;
    }
  }
}
