// colors
$navbar-dark-color: $basic-light;
$navbar-dark-active-color: rgba($basic-light, 0.5);
$pagination-active-bg: none;
$pagination-color: $basic-dark-2;
$pagination-active-color: $basic-dark-2;
$pagination-hover-color: $basic-dark-2;
$link-hover-color: rgba($basic-dark-2, 0.5);


// sizes
$nav-link-padding-y: 0;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5
);

// images

$form-select-indicator: url("../img/select-indicator.svg");
