@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-regular.woff2"),
    url("../fonts/SFUIDisplay-regular.woff");
}
