.accordion-features {
  .accordion-button::after {
    background-image: url("../img/plus.svg");

    @include media-breakpoint-up(lg) {
      background-image: url("../img/plus-desktop.svg");
      width: 48px;
      height: 48px;
      background-size: contain;
    }
  }

  .accordion-button:not(.collapsed)::after {
    transform: rotate(-45deg);
  }

  .accordion-item {
    padding: 16px 0;
    border-color: $basic-grey;
    border-bottom: 1px solid $basic-grey;

    &:first-child {
      border-top: 1px solid $basic-grey;
    }

    @include media-breakpoint-up(lg) {
      padding: 30px 0;
      border-bottom: 1px solid $basic-grey;

      &:first-child {
        border-top: 1px solid $basic-grey;
      }
    }
  }

  .accordion-button {
    @include font(1.13rem, 1.31rem, 400);
    text-decoration: none;
    color: $basic-dark-2;
    padding: 0;

    &:hover {
      color: rgba($basic-dark-2, 0.8);
    }

    @include media-breakpoint-up(sm) {
      @include font(1.7rem, 1.31rem, 400);
    }

    @include media-breakpoint-up(lg) {
      @include font(2.25rem, 2.62rem, 400);
    }
  }

  .accordion-body {
    @include font(0.87rem, 1.06rem, 400);
    padding: 10px 0 0 28px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% - 48px);
      background-color: $basic-grey;
      top: 33px;
      left: 3px;

      @include media-breakpoint-up(lg) {
        height: calc(100% - 98px);
        background-color: $basic-grey;
        top: 50px;
        left: 27px;
      }
    }

    @include media-breakpoint-up(md) {
      @include font(1.2rem, 1.44rem, 400);
    }

    @include media-breakpoint-up(lg) {
      @include font(1.5rem, 1.75rem, 400);
      padding: 0 0 0 58px;
    }
  }

  .accordion-sub-item {
    padding: 12px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $light-green;
      top: 16px;
      left: -28px;
    }

    @include media-breakpoint-up(lg) {
      padding: 40px 0;

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $light-green;
        top: 43px;
        left: -38px;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    max-width: 450px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }
}

.menu-accordion {

  .accordion-button {
    @include font(1.13rem, 1.3rem, 400);
    color: $basic-light;
    background-color: $light-green;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      padding: 10px 0;
    }
  }

  .accordion-button::after {
    background-image: url("../img/arrow-white.svg");
    width: 20px;
    height: 10px;
    margin-left: 18px;

    @include media-breakpoint-up(md) {
      width: 0;
      margin-left: 0;
    }
  }

  .accordion-body { //Не трогать
    padding: 0;
    background-color: rgba($light-green, 0.3);

    @include media-breakpoint-up(sm) {
      background-color: inherit;
      width: 320px;
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  .accordion-sub-item {
    padding: 10px 0 10px;

    @include media-breakpoint-up(md) {
      &.current {
        background-color: $light-green;
        width: 100%;
        padding: 10px 0 10px;
      }
    }
  }

  .accordion-link {
    @include font(1.13rem, 1.3rem, 400);

    @include media-breakpoint-up(md) {
      &.current {
        color: $basic-light;
      }
    }
  }
}

.accordion-dropdown {
  .accordion-button {
    width: auto;

    .button-text {
      @include font(0.87rem, 1rem, 400);
      margin-right: 15px;
      padding-bottom: 3px;
    }
  }

  .accordion-button::after {
    background-image: url("../img/arrow-down.svg");
    background-size: contain;
    width: 11px;
    height: 6px;
    top: 15px;
    left: 0;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("../img/arrow-down.svg");
  }
}

.accordion-setup {
  .accordion-button {
    @include font(0.87rem, 1.06rem, 400);
    background-color: rgba($light-green, 0.3);
    width: 100%;
    display: block;
    border-left: 4px solid $light-green;
    padding: 7px 16px;
    margin-bottom: 0;
    font-style: normal;

    @include media-breakpoint-up(lg) {
      @include font(1.13rem, 1.3rem, 400);
      padding: 7px 20px;
    }
  }

  .accordion-button::after {
    width: 0;
    height: 0;
  }

  .accordion-item {
    border: none;

    &:first-child {
      border: none;
    }
  }

  .accordion-body {
    padding-left: 0;

    &::before {
      top: 36px;
      left: 7px;
      height: calc(100% - 64px);

      @include media-breakpoint-up(lg) {
        height: calc(100% - 52px);
        background-color: $basic-grey;
        top: 40px;
        left: 7px;
      }
    }
  }

  .accordion-sub-item {
    @include font(1.13rem, 1.3rem, 400);
    padding-left: 46px;
    padding: 25px 0 25px 46px;

    &::before {
      width: 16px;
      height: 16px;
      top: 26px;
      left: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

}
