.button {
  @include font(1rem, 1.19rem, 400);
  border-radius: 20px;
  display: inline-block;
  padding: 10px 0;
  width: 296px;
  text-align: center;

  @include button-variant(
    $light-green,
    transparent,
    $basic-light,
    $green-special,
    transparent,
    $basic-light,
    $green-special,
    transparent,
    $basic-light,
    $disabled-btn,
    transparent,
    rgba($basic-light, 0.7),
  );

  @include media-breakpoint-up(md) {
    width: 285px;
  }
}

.button-white {
  background-color: $basic-light;
  border: 1px solid $light-green;
  color: $light-green;

  @include button-variant(
    $basic-light,
    $light-green,
    $light-green,
    $light-green,
    transparent,
    $basic-light,
    $light-green,
    transparent,
    $basic-light,
    $basic-light,
    $light-green,
    $light-green,
  );
}

.button-link {
  @include font(1rem, 1.19rem, 400);
  padding: 0;

  @include button-variant(
  transparent,
  transparent,
  $light-green,
  transparent,
  transparent,
  $green-special,
  transparent,
  transparent,
  $green-special,
  transparent,
  transparent,
  $basic-grey,
  );
}

#cash,
#profile {
  .button-box {
    width: 296px;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      width: 325px;
    }
  }
}

#profile {
  @include media-breakpoint-up(md) {
    .button {
      width: 200px;
    }

    .button-box {
      width: 325px;
      margin-left: auto;
      padding: 0;
    }
  }
}

.card-green .button {
  border-radius: 0;
  padding: 6px;

  &.button-refill {
    border-bottom-left-radius: 5px;
    background-color: $basic-light;
    color: $basic-dark-2;
  }

  &.button-show {
    background-color: $basic-dark;
    border-bottom-right-radius: 5px;
  }

}
