.card-custom {
  border: none;

  .card-title {
    @include font(1.5rem, 1.75rem, 400);
    text-align: left;
    cursor: pointer;
  }

  .button {
    max-width: 320px;

    @include media-breakpoint-up(lg) {
      width: 245px;
    }
  }

  @include media-breakpoint-up(sm) {
    border: 1px solid $basic-grey;
    max-width: 320px;
  }

  @include media-breakpoint-up(lg) {
    @include font(0.87rem, 1.06rem, 400);

    border-radius: 5px;
    max-height: 675px;
    max-width: 285px;

  }
}

.card-preview {
  border-radius: 16px;
  margin-bottom: 25px;
  padding: 20px 30px;
  width: auto;
  margin: 0 auto 25px;

  .title {
    @include font(1.13rem, 1.3rem, 400);
    color: $basic-dark-2;
  }

  @include media-breakpoint-up(sm) {
    max-width: 260px;
  }

  @include media-breakpoint-up(lg) {
    min-width: 225px;
    margin-bottom: 20px;
    padding: 0;
  }

  @include media-breakpoint-up(xl) {
    min-width: 285px;
  }
}

.card-img {
  width: 160px;
  height: 70px;
  background-color: $basic-grey;
  border-radius: 3px;
  display: inline-block;
}

.company-img {
  width: 100%;
  height: 160px;
  background-color: $basic-grey;
  margin: 40px 0 20px;
  max-width: 320px;

  @include media-breakpoint-up(lg) {
    width: 245px;
    height: 120px;
    margin: 0 auto 15px;
  }
}

// discounts

.card-discount {
  @include font(1.5rem, 1.75rem, 400);
  color: $basic-dark-2;
  width: 200px;
  height: 110px;
  background-color: $basic-grey;
  border-radius: 3px;
  display: inline-block;

  &--green {
    background-color: $light-green;
    color: $basic-light;
  }

  &--dark {
    background-color: $basic-dark;
    color: $basic-light;
  }
}

#add-cashback .card-discount {
  width: 266px;
  height: 140px;

  .form-label-radio {
    padding-left: 0;
  }

  @include media-breakpoint-up(lg) {
    width: 254px;
  }
}

// coupons

.coupon {
  color: $basic-light;

  @include media-breakpoint-up(lg) {
    min-width: 480px;
    min-height: 190px;
  }
}

.coupon-info {
  @include font(0.6rem, 0.75rem, 400);
  background-color: $basic-dark;
  min-height: 160px;
  color: $basic-light;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @include media-breakpoint-up(lg) {
    min-width: 290px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
  }
}

.coupon-content {
  @include font(0.6rem, 0.75rem, 400);
  background-color: $light-green;
  min-height: 160px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @include media-breakpoint-up(lg) {
    width: 190px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }
}

.coupon-code {
  @include font(0.75rem, 0.87rem, 400);
  border-radius: 20px;
  border: none;
  padding: 8px 12px;
}

.coupon-button {
  @include font(0.75rem, 0.87rem, 400);
  padding: 8px 12px;
}

.coupon-square {
  width: 100px;
  height: 100px;
  background-color: rgba($basic-light, 0.2);
  border-radius: 5px;
}

.coupon-gifts {
  @include font(4rem, 4.75rem, 300);
}

// balance

.card-green {
  .info {
    @include font(0.87rem, 1.06rem, 400);

    .info-summ {
      @include font(1.5rem, 1.75rem, 400);
    }
  }

  color: $basic-light;
  border-radius: 5px;
  background-color: $light-green;
  width: 296px;
  height: 130px;

  @include media-breakpoint-up(lg) {
    width: 285px;
  }

  &.balance {
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
  }
}
