.form-item {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  margin: 0 auto;
  // width: 296px;

  &:last-child {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 30px;
    margin: 0;
    // width: 285px;
  }
}

.form-textarea {
  min-height: 120px;
  resize: none;
}

.form-upload {
  border: 1px solid $basic-grey;
  min-height: 160px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 auto;
  width: 296px;
  margin: 20px auto 28px;

  .form-label {
    @include font(1.13rem, 1.3rem, 400);
    position: relative;
    color: $special-grey-2;
    margin-top: 60px;
    margin-left: 25%;
    padding: 5px 0 5px 46px;
    cursor: pointer;
    max-width: 120px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/plus-desktop.svg");
      background-size: contain;
      width: 40px;
      height: 40px;
      opacity: 0.2;
      top: 4px;
      right: 80%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $light-green;
      border-radius: 50%;
      right: 83%;
      top: 10px;
    }
  }

  @include media-breakpoint-up(sm) {
    width: 265px;
  }

  @include media-breakpoint-up(lg) {
    width: 245px;
  }
}

.form-label-checkbox {
  @include font(1.13rem, 1, 400);
  color: $basic-dark-2;
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border-color: $basic-grey;

  .btn-check:checked + &,
  .btn-check:hover + & {
    color: $basic-light;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 14px;
  }
}

.form-label-radio {
  position: relative;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $light-green;
    border-radius: 50%;
    top: 0;
    left: 0;
  }

  .btn-check:checked + &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $light-green;
    border-radius: 50%;
    top: 4px;
    left: 4px;
  }
}

.form-control {
  line-height: 1.2rem;
  border-color: $basic-grey;

  @include media-breakpoint-up(md) {
    height: 32px;
    width: 285px;
  }
}

.form-control:disabled + .form-label {
  color: $basic-grey;
}

.form-textarea {
  width: 100%;
}

.form-item-large {
  @include media-breakpoint-up(lg) {
    width: 600px;

    .form-control {
      width: 100%;
    }
  }
}

.form-select {
  height: 32px;
}

.form-select-day {
  width: 71px;
  height: 32px;
  background-image: none;
  padding-top: 4px;
  padding: 5px 10px;

  @include media-breakpoint-up(lg) {
    width: 75px;
    background-image: url("../img/select-indicator.svg");
  }
}

.form-select-month {
  width: 120px;
  height: 32px;
  background-image: none;
  padding-top: 4px;

  @include media-breakpoint-up(lg) {
    width: 135px;
    background-image: url("../img/select-indicator.svg");
  }
}

.form-select-year {
  width: 85px;
  height: 32px;
  background-image: none;
  padding-top: 4px;

  @include media-breakpoint-up(lg) {
    width: 95px;
    background-image: url("../img/select-indicator.svg");
  }
}

.form-custom {
  border: 1px solid $basic-grey;
  border-radius: 5px;
  text-align: center;

  .form-control {
    width: 245px;
    margin: 0 auto;
  }
  .button {
    width: 256px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 285px;
  }
}

.form-custom-wrapper {
  padding: 30px 20px 30px;
}

.form-custom-header {
  @include font(1.13rem, 1.3rem, 400);
  color: $basic-light;
  background-color: $light-green;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}
