.scale {
  min-width: 510px;

  .btn {
    width: 30px;
    height: 20px;
    border-radius: 2px;
    background-color: $basic-grey;
    border: none;
    margin-right: 2px;
  }

  .btn:hover {
    background-color: $light-green;
  }
}
