.tab-link {
  @include font(0.87rem, 1.06rem, 400);
  padding: 10px;

  @include media-breakpoint-up(sm) {
    text-align: center;
    position: relative;
  }
}

.tab-content {
  position: relative;

  @include media-breakpoint-up(lg) {
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 300px);
      height: 1px;
      background-color: $basic-grey;
      right: 0;
      top: -1px;
    }

    &--partner::before {
      width: calc(100% - 900px);
    }
  }
}

.tab-link.active {
  border: none;
  border-bottom: 2px solid $light-green;
  color: $light-green;
  background-color: $basic-light;

  @include media-breakpoint-up(md) {
    color: $light-green;
    border-bottom: none;
    border-top: 2px solid $light-green;
    border-radius: 0;
    position: relative;
  }
}

.tab-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  width: 120px;

  @include media-breakpoint-up(lg) {
    max-width: 150px;

    &:first-child {
      border-left: 1px solid $basic-grey;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-right: 1px solid $basic-grey;
      border-top-right-radius: 4px;
    }
  }
}

.tab-card {
  border: none;

  @include media-breakpoint-up(lg) {
    border: 1px solid $basic-grey;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  @include media-breakpoint-up(lg) {
    @include font(0.87rem, 1.06rem, 400);
    min-height: calc(100% - 42px);

  }
}

.tab-header {
  padding: 0;
}

.scrollable {
  scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .scrollable-content {
  min-width: max-content;
}

.tab-content-title {
  @include font(1.13rem, 1.3rem, 400);
  color: $basic-dark-2;
}
