// grey tabs

.tab-header .tab-link {
  background-color: inherit;

  @include media-breakpoint-up(lg) {
    background-color: $basic-grey;
  }
}

.tab-link {
  @include font(0.87rem, 1.06rem, 400);
  padding: 10px;

  @include media-breakpoint-up(sm) {
    text-align: center;
    position: relative;
  }
}

.tab-item .tab-link.active {
  border: none;
  border-bottom: 2px solid $light-green;

  background-color: $basic-light;

  @include media-breakpoint-up(lg) {

    border-bottom: none;
    border-left: 1px solid $basic-grey;
    border-right: 1px solid $basic-grey;
    border-top: 2px solid $light-green;
    border-radius: 0;
    position: relative;
  }
}

.tab-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  min-width: 120px;
  white-space: nowrap;

  @include media-breakpoint-up(lg) {
    max-width: 150px;
    // border-bottom: none;

    // &:first-child {
    //   border-left: 1px solid $basic-grey;
    //   border-top-left-radius: 4px;
    // }

    // &:last-child {
    //   border-right: 1px solid $basic-grey;
    //   border-top-right-radius: 4px;
    // }
  }
}

// .tab-card {
//   border: none;

//   @include media-breakpoint-up(lg) {
//     border: 1px solid $basic-grey;
//     border-top: 0;
//     border-bottom-left-radius: 4px;
//     border-bottom-right-radius: 4px;
//   }

//   @include media-breakpoint-up(lg) {
//     min-height: calc(100% - 42px);
//   }
// }


// profile.html

.tab-item-large {

  @include media-breakpoint-up(md) {
    &.tab-item {
      width: 100%;
      max-width: initial;
    }
  }

  @include media-breakpoint-up(lg) {

    border: none;

    &:last-child {
      border-right: none;
    }

    &:first-child {
      border-left: none;
    }
  }

  @include media-breakpoint-up(xl) {
    min-width: 284px;
  }
}

.tab-header .tab-link-white {
  @include media-breakpoint-up(md) {
    background-color: $basic-light;

    &.active {
      background-color: $light-green;
      color: $basic-light;
    }
  }
}

.tab-header-border {
  @include media-breakpoint-up(lg) {

    &.tab-header {

      width: 285px;
      padding: 40px 0;
      border: 1px solid $basic-grey;
    }

    & .tab-link {
      @include font(1.13rem, 1.3rem, 400);
    }
  }
}

.tab-content {
  position: relative;
  font-family: "SF UI Display", "Helvetica", sans-serif;

  @include media-breakpoint-up(lg) {
    border: 1px solid $basic-grey;
    border-top: none;
    min-height: 556px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}


.scrollable {
  width: 100vw;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
  }
}

.scrollable-content {
  min-width: max-content;
}

// titles

.tab-content-title {
  @include font(1.13rem, 1.3rem, 400);
  color: $basic-dark-2;
}

// other

.tab-header {
  font-family: "SF UI Display", "Helvetica", sans-serif;
  padding: 0;
  max-width: 895px;
}
