.views-icon {
  background-image: url("../img/views-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 10.5px;
}

.views-number {
  @include font(0.87rem, 1rem, 400);
  color: $special-grey-2;
  margin-right: 4px;
}
